[submodule "Panel_sterowania_radioteleskop/SDR"]
	path = SDR
	url = https://github.com/Radiotelesokp/SDR.git
[submodule "Panel_sterowania_radioteleskop/Sterownik"]
	path = Panel_sterowania_radioteleskop/Sterownik
	url = https://github.com/Radiotelesokp/Sterownik.git
[submodule "Panel_sterowania_radioteleskop/api_server/SDR"]
	path = Panel_sterowania_radioteleskop/api_server/SDR
	url = https://github.com/Radiotelesokp/SDR.git
